name: Java CI with Maven and MySQL

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: book_manager
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Wait for MySQL to be ready with query
        run: |
          for i in {1..30}; do
            if mysql -hmysql -uroot -proot -e "USE book_manager; SELECT 1;" > /dev/null 2>&1; then
              echo " MySQL is query-ready!"
              break
            fi
            echo " Waiting for MySQL to be query-ready..."
            sleep 2
          done
      

      - name: Build with Maven
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/book_manager
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_PASSWORD: root
        run: mvn clean install -DskipTests



      - name: Build & push Docker image
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: sajjadhossain0/book_cicd
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}